<div class="container">
	<div class="row clearfix row-with-margin">
		<div class="col-md-10 column">
			<button type="button" class="btn btn-default btn-xs">Add Test Case</button>
			<button type="button" class="btn btn-default btn-xs">Add Devices</button>
		</div>
	</div>
</div>
<div class="container" full-height-panel offset="150">
	<div class="row clearfix" style="height:100%">
		<div class="col-md-4 column" style="height:inherit">
			<div class="panel panel-primary" style="height:inherit">
				<div class="panel-heading">
					<h3 class="panel-title">Test Cases</h3>
				</div>
				<div class="panel-body testcase-list-panel full-height">
					<ul class="list-group testcase-list-group">
						<a ng-repeat="testCase in testCases" ng-click="selectTestCase(testCase)" class="list-group-item testcase-list-item" ng-class="{'list-group-item-warning':testCase.selected==true}">
							<span class="badge">{{testCase.images.length}}</span>
							{{testCase.pageName}}
						</a>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-8 column" style="height:inherit">
			<div class="panel panel-primary" style="height:inherit">
				<div class="panel-heading">
					<h3 class="panel-title ">Details</h3>
				</div>
				<div class="panel-body full-height">

					<div class="row clearfix button-group-row" ng-if="selected.testCase!=null">
						<div class="col-md-12 column">
							<div class="btn-group" role="group" ng-if="selected.testCase!=null && selected.testCase.images.length>0">
								<button type="button" class="btn btn-default btn-xs" ng-repeat="image in selected.testCase.images" ng-click="selectImage(image)" ng-class="{'btn-warning':image.selected==true}">{{image.device}}</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									More
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Delect Test Case</a></li>
									<li><a href="#">Delete Selected Device</a></li>
									<li class="divider"></li>
									<li><a href="#">Change Test Case Name</a></li>
									<li><a href="#">Add Another Device</a></li>
								</ul>
							</div>
						</div>

					</div>

					<div class="row clearfix row-with-margin" ng-if="error!=null">
						<div class="col-md-12 column">
							<div class="alert alert-danger" role="alert">{{error}}</div>
						</div>
					</div>

					<div class="row clearfix" ng-if="selected.testCase!=null && selected.image!=null">
						<div class="col-md-6 column">
							<h4>Source Image </h4>
							<a class="thumbnail image-thumbnails thumbnail-container" ng-click="toggleModal(selected.image.source)">
								<img src="{{selected.image.source}}" alt="No Image">
							</a>
						</div>
						<div class="col-md-6 column">
							<h4>Screenshot Image</h4>
							<a class="thumbnail image-thumbnails thumbnail-container" ng-click="toggleModal(selected.image.screenshot)">
								<img src="{{selected.image.screenshot}}" alt="No Image">
							</a>
						</div>
					</div>

					<div class="row clearfix row-with-margin" ng-if="selected.testCase!=null && selected.image!=null">
						<div class="col-md-6 column">
							<button type="button" class="btn btn-default btn-xs pull-right" ngf-select ngf-change="uploadSource($files)" ngf-multiple="false" allow-dir="false" accept="image/*">Upload</button>
						</div>
						<div class="col-md-6 column">
							<button type="button" class="btn btn-default btn-xs pull-right" ngf-select ngf-change="uploadScreenshot($files)" ngf-multiple="false" allow-dir="false" accept="image/*">Upload</button>
						</div>
					</div>

					<div class="row clearfix" ng-if="selected.testCase!=null && selected.image!=null">
						<div class="col-md-4 column">
							<h4>Differences Image</h4>
							<a class="thumbnail thumbnail-container" ng-click="toggleModal(selected.image.output.diff)">
								<img src="{{selected.image.output.diff}}" alt="No Image">
							</a>
						</div>
						<div class="col-md-4 column">
							<h4>Contours on Source</h4>
							<a class="thumbnail thumbnail-container" ng-click="toggleModal(selected.image.output.contourOnSource)">
								<img src="{{selected.image.output.contourOnSource}}" alt="No Image">
							</a>
						</div>
						<div class="col-md-4 column">
							<h4>Contours on Screenshot</h4>
							<a class="thumbnail thumbnail-container" ng-click="toggleModal(selected.image.output.contourOnSubject)">
								<img src="{{selected.image.output.contourOnSubject}}" alt="No Image">
							</a>
						</div>
					</div>
					<div class="row clearfix" ng-if="selected.testCase!=null && selected.image!=null">
						<div class="col-md-12 column">
							<button type="button" class="btn btn-primary pull-right" ng-click="compare()">Compare</button>
							<button type="button" class="btn btn-warning pull-right right-margin" ng-click="toggleModal()">Compare With</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<modal title="Image" visible="modalParams.showModal">
	<img src="{{modalParams.urlToOpen}}" alt="No Image">
</modal>
