<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="PixelCompareApp">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../static/stylesheets/custom.css">
	<link rel="stylesheet" href="../static/bower_components/jsoneditor/dist/jsoneditor.min.css">
	<script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../static/bower_components/angular/angular.min.js"></script>
	<script src="../static/bower_components/angular-route/angular-route.min.js"></script>
	<script src="../static/bower_components/ngstorage/ngStorage.min.js"></script>
	<script src="../static/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
	<script src="../static/bower_components/jsoneditor/dist/jsoneditor.min.js"></script>
	<script src="../static/bower_components/ng-jsoneditor/ng-jsoneditor.js"></script>
	<script src="../static/js/app.js"></script>

	<!-- Modules -->
	<script src="../static/js/navbar/navbar.module.js"></script>
	<script src="../static/js/home/home.module.js"></script>
	<script src="../static/js/new_project/new_project.module.js"></script>

	<!-- Factories -->
	<script src="../static/js/home/home.factory.js"></script>
	<script src="../static/js/new_project/new_project.factory.js"></script>

	<!-- Directives -->
	<script src="../static/js/navbar/navbar.directive.js"></script>

	<!-- Controllers -->
	<script src="../static/js/navbar/navbar.controller.js"></script>
	<script src="../static/js/home/home.controller.js"></script>
	<script src="../static/js/new_project/new_project.controller.js"></script>
</head>

<body>
	<navbar></navbar>
	<!-- This is where we load our content -->
	<div ng-view></div>
	</br>
</body>

</html>
