<div class="container">
	<div class="row clearfix row-with-margin" ng-if="error!=null">
		<div class="col-md-12 column">
			<div class="alert alert-danger" role="alert">{{error}}</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-6 column">
			<!-- <form role="form"> -->
			<div class="form-group">
				<label>Project Name</label>
				<input type="text" class="form-control" ng-model="projectName" />
			</div>
			<!-- </form> -->
		</div>
		<div class="col-md-6 column">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-6 column">
			<div class="form-group">
				<label>Config.json</label>
				<div ng-jsoneditor="onLoad" ng-model="configSettings.data" options="configSettings.options"></div>
			</div>
		</div>
		<div class="col-md-6 column">
			<div class="form-group">
				<label>Devices.json</label>
				<div ng-jsoneditor="onLoad" ng-model="devicesSettings.data" options="devicesSettings.options"></div>
			</div>
		</div>
	</div>
	<button type="button" class="btn btn-success" ng-click="createProject()">Create Project</button>


</div>
